@use "variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  box-sizing: border-box;
  font-size: clamp(14px, 0.9vw, 22px);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  background: white;
  scroll-behavior: smooth;

  @include hd {
    font-size: clamp(10px, 0.9vw, 20px);
  }
  @include cel {
    font-size: clamp(16px, 1.8vw, 18px);
  }
  @include hdplus {
    font-size: clamp(14px, 7vw, 22px);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  line-height: 1em;
  font-family: "Bai Jamjuree", sans-serif;
  letter-spacing: -0.06em;
  font-weight: 100;
  padding-bottom: 0.7rem;
  color: $rojo;
}
h1 {
  font-size: clamp(2.9rem, 5vw, 7vw);
}
h2 {
  font-size: clamp(2.2em, 2vw, 30vw);
  color: $rojo;
  @include hd {
    font-size: clamp(3em, 2vw, 50vw);
  }
}

ol,
ul {
  list-style: none;
}
li {
  list-style: none;
  list-style-position: inside; 
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-size: cover;
  shape-margin: 0.75rem;
}
a {
  text-decoration: none;
  display: inline-block;
  color: $gris;
}
.selected {
  color: $rojo;
  text-decoration: underline;
  font-weight: 700;
}
p {
  margin-bottom: 0.6rem;
  color: $gris;
  @include cel {
    line-height: 1.4;
  }
}
p:last-child {
  margin-bottom: 0rem;
}
b {
  font-weight: bold;
}
//flex
.flex {
  display: flex;
  gap: $margen-min;
  flex-wrap: wrap;
}
// grid
.grid {
  display: grid;
  grid-template-columns: [pantalla-start] 5vw [extra-start] 5vw [contenido-start] 1fr [contenido-end] 5vw [extra-end] 5vw [pantalla-end];
  @include hd {
    grid-template-columns: [pantalla-start] 2vw [extra-start] 6vw [contenido-start] 1fr [contenido-end] 6vw [extra-end] 2vw [pantalla-end];
  }
  @include hdplus {
    grid-template-columns: [pantalla-start] 3vw [extra-start] 6vw [contenido-start] 1fr [contenido-end] 6vw [extra-end] 3vw [pantalla-end];
  }
}
.contenido > * {
  grid-column: contenido;
  @include cel {
    grid-column: pantalla;
  }
}
.extra > * {
  grid-column: extra;
}
.pantalla > * {
  grid-column: pantalla;
}
.pantalla-izq > * {
  grid-column: pantalla-start / contenido-end;
  @include cel {
    grid-column: pantalla;
  }
}
.pantalla-der > * {
  grid-column: contenido-start / pantalla-end;
  // @include cel {
  //   grid-column: pantalla;
  // }
}
.pantalla-der-especial > * {
  grid-column: contenido-start / pantalla-end;
  @include cel {
    grid-column: contenido / pantalla-end;
  }
}
.pantalla-reservar > * {
  grid-column: contenido;
}

.recuadro-rojo {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 3rem;
  color: white;   
  z-index: 300;
  mix-blend-mode: darken;   
}

/* Fondo rojo semi-transparente que se mezcla */
.recuadro-rojo::before {
  content: "";
  background: $rojo;
  background-blend-mode: color-burn;
  position: absolute;
  inset: 0;
  z-index: -1;        
       
}