---
import Layout from "@layouts/Layout.astro";
import Loader from "@components/Loader.astro";
import Hero from "@components/Hero.astro";
import Button from "@components/Button.astro";
import Encabezados from "@components/Encabezados.astro";
import Teaser from "@components/Teaser.astro";
import ContenedorEventosPrincipal from "@components/ContenedorEventosPrincipal.astro";
import ContenedorEventosSec from "@components/ContenedorEventosSec.astro";
import Magazine from "@components/Magazine.astro";
import Contact from "@components/Contact.astro";
import Galeria from "@components/Galeria.astro";
import Timeline from "@components/Timeline.astro";
---

<Layout
  title="100 aniversary Ess Ski school Crans Montana"
  description="Welcome to the home page2026 sera rythmé par de nombreux événements festifs et sportifs afin de célébrer cet anniversaire comme il se doit."
>
  <!-- <Loader loadingText="Historique de chargement" /> -->
  <main>
    <Hero title="100 ans d’histoire… ça se fête !!" subtitle="1926-2026" />

    <Encabezados title="Timeline" subtitle="100 ANS D'HISTOIRE EN UN CLIN D'OEIL" />

    <Timeline />
    <Encabezados title="Teaser" subtitle="100 ans d’histoire en 1 minute" />
    <div class="grid contenido">
      <Teaser
        span="REVIVEZ"
        title="100 ANS"
        subtitle="d’aventure et passion"
        videoSrc="/100/video/hero.mp4"
      />
    </div>

    
    
    <Encabezados
      title="Evénements"
      subtitle="100 ans d’histoire à fêter"
      extra="Programme des festivités"
    />
    
    <div class="grid pantalla" id="events">
      <ContenedorEventosPrincipal />
      
    </div>
    
    <div class="grid pantalla" id="events2">
      <ContenedorEventosSec />
    </div>
    <Encabezados title="Magazine" subtitle="100 ans d’histoire à se remémorer" />
    <div class="grid contenido">
      <Magazine recuadro=" Un siècle d’histoire" parrafo="<b>Découvrez</b>, à travers des anecdotes, des témoignages et des moments forts, les 100 ans d’histoire de notre Ecole de Ski dans un magazine haut de gamme." />
    </div>
    
    <Encabezados title="Partenariats" subtitle="Ensemble pour fêter nos 100 ans" />
    <div class="grid contenido">
      <Galeria />
    <Contact />
    </div>

  </main>
</Layout>
