---
import Layout from "@layouts/Layout.astro";
import Loader from "@components/Loader.astro";
import Hero from "@components/Hero.astro";
import Button from "@components/Button.astro";
---

<Layout
  title="100 aniversary Ess Ski school Crans Montana"
  description="Welcome to the home page"
>
  <Loader loadingText="Please wait..." />
  <main>
    <Hero title="años de exelencia" subtitle="Aqui un parrafo del subititulo" />
    <div class="grid contenido">
      <h1>Iniciando!</h1>
      <img src="1.jpg" alt="carrousel image 1" />
      <img src="2.png" alt="carrousel image 2" />
      <img src="3.png" alt="carrousel image 3" />
    </div>
    <!-- Ejemplo de uso del nuevo botón -->
    <Button url="/about" text="Conócenos" class="custom-btn" icon="mdi:account" />
  </main>
</Layout>
