---
import { Icon } from "astro-icon/components";
import Button from "./Button.astro";
---

<div id="contact">
    <div id="datos">
        <ul>
            <li>
                <a href="tel:+41274811480">0041 27 481 14 80</a>
            </li>
            <li>
                <a href="mailto:info@esscrans-montana.ch"
                    >info@esscrans-montana.ch</a
                >
            </li>
            <li>
                <a
                    href="https://maps.app.goo.gl/9t4b8aLG7ZPbnrqX7"
                    target="_blank"
                >
                    École suisse de ski Crans-MontanaRoute des Arolles 2CH-3963
                    Crans-Montana
                </a>
            </li>
            <li>
                <h4>DAILY OPENING HOURS</h4>
                <p>Main Office - Monday to Friday</p>
                <p>09.00 - 12.00 / 14.00 - 17.00</p>
            </li>
            <li>
                <div class="social">
                    <span>Follow us</span>
                    <ol>
                        <li>
                            <a href="facebook" target="_blank"
                                ><Icon name="mdi:facebook" /></a
                            >
                        </li>
                        <li>
                            <a href="instagram" target="_blank"
                                ><Icon name="mdi:instagram" /></a
                            >
                        </li>
                        <li>
                            <a href="youtube" target="_blank"
                                ><Icon name="mdi:youtube" /></a
                            >
                        </li>
                    </ol>
                </div>
            </li>
        </ul>
    </div>

    <!-- ---------------------------------------------------------------------------------------- -->
    <div id="form">
        <form action="">
            <label for="name">Name
                <input type="text" placeholder="Full Name" />
            </label>
            <label for="email">Email
                <input type="email" placeholder="Email address" />
            </label>
            <label for="message">Message
                <textarea name="message" id="message" placeholder="Your message"
                ></textarea>
            </label>
            <Button type="button" text="Send" icon="mdi:send" />
        </form>
    </div>
</div>

<style lang="scss">
    @use "../styles/variables.scss" as *;
    #contact {
        display: flex;
        gap: 2rem;
        position: relative;
        padding: $margen;
        background: #ffffff;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 1) 0%,
            rgba($fondo, 1) 100%
        );

        // Borde superior con corte diagonal
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: $margen;
            right: $margen;
            height: 1px;
            background-color: rgba($gris, 0.4);
        }

        // Borde inferior con corte diagonal
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: $margen;
            right: $margen;
            height: 1px;
           background-color: rgba($gris, 0.4);
        }
        #datos{
            flex:1 0 50%;
            li{
                padding: .8rem 0;
            }
            ol{
                display:flex;
                gap: .8rem;
                a{
                    font-size: 1.6rem;
                    color: $dorado;
                }
            }
            span{
                color: $rojo;
                font-size: .8rem;
            }
            a{
                text-decoration: underline;
            }
        }
        #form{
            flex:1 0 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        form{
            display: flex;
            flex-wrap: wrap;
        }
        label{
            flex: 1 0 50%;
            display: flex;
            flex-direction: column;
            margin-top: .8rem;
            padding: .7rem .3rem;
        }
        input{
            padding: .8rem;
            border: none;
            background: rgba($dorado, 0.2);
            margin-top: .7rem;
            @extend .sombra;
        }
        textarea{
            flex: 1 1 100%;
            padding: .8rem;
            border: none;
            background: rgba($dorado, 0.2);
            margin-top: .7rem;
            @extend .sombra;
        }
        button{
            margin-top: $margen-cel;
            padding: .7rem;
            flex: 1 0 70%;
            align-items: right;
        }
        @include cel {
            padding: 3rem;
            flex-wrap: wrap;
            #datos, #form{
                flex:1 0 100%;
            }

            &::before {
                left: 3rem;
                right: 3rem;
            }

            // Borde inferior con corte diagonal
            &::after {
                left: 3rem;
                right: 3rem;
            }
        }
    }
</style>
