---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getTranslation, type Locale } from "../i18n/translations";

const home = getRelativeLocaleUrl("fr", "/");
const currentLocale = (Astro.currentLocale || "fr") as Locale;
const t = (key: string) => getTranslation(currentLocale, key);
---

<footer class="grid pantalla" id="footer">
  <div class="grid contenido" id="conte-footer">
    <nav>
      <a href="https://esscrans-montana.ch/" target="_blank">
        <img src="/100-ans-logo.svg" alt="Logo ESS 100 ans" id="logoPie" />
      </a>
      <ul>
        <li>
          <a href="#histoire">{t("nav.histoire")}</a>
        </li>
        <li>
          <a href="#teaser">{t("nav.video")}</a>
        </li>
        <li>
          <a href="#events">{t("nav.events")}</a>
        </li>
        <li>
          <a href="#magazine">{t("nav.magazine")}</a>
        </li>
        <li>
          <a href="#contact">{t("nav.contact")}</a>
        </li>
      </ul>
    </nav>
    <p>&copy; {new Date().getFullYear()} ESS 100 ans. Tous droits réservés.</p>
  </div>
</footer>

<style lang="scss">
  @use "../styles/variables.scss" as *;

  #footer {
    background-color: $fondo;
    background: url("/bg-footer.webp") repeat-x center bottom/contain;
    padding-bottom: $margen;
    overflow-y: hidden;
    @include cel {
      background: url("/bg-footer.webp") repeat-x 0% 100%/160%;
    }
    @include hdplus {
      background: url("/bg-footer.webp") repeat-x 0% 130%/80%;
    }

    #conte-footer {
    }
    p {
      padding: $margen 0;
      color: $gris !important;
      text-align: center;
      @include cel {
        padding: 0 $margen-cel 0;
      }
    }

    nav {
      padding: 2rem $margen;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      position: relative;
      margin-bottom: $margen;
      @include cel {
        margin-bottom: 0;
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(50%);
        width: 100%;
        height: 500%;
        background-color: $fondo;
        z-index: -1;
      }
      @include cel {
        flex-direction: column;
        gap: 1rem;
      }
    }

    #logoPie {
      flex: 1;
      width: 200px;
      height: auto;
    }

    nav ul {
      flex: 1;
      list-style: none;
      padding: 0;
      display: flex;
      gap: 1rem;
      justify-content: right;
      flex-wrap: wrap;
      @include cel {
        gap: 1rem;
        padding: $margen-cel;
        justify-content: center;
      }
    }

    nav ul li a {
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: $rojo;
      }
    }

    p {
      margin: 0;
      color: white;
      font-size: 0.9rem;
    }
  }
</style>
