---
const currentLang = Astro.currentLocale ?? "fr"; // default fr
let targetLang: string;
let targetUrl: string;

if (currentLang === "fr") {
  // En inglés → link al francés
  targetLang = "en";
  targetUrl = "/en" + Astro.url.pathname;
} else {
  // En francés → link al inglés
  targetLang = "fr";
  // Reemplaza solo el prefijo /fr en el pathname
  const cleanPath = Astro.url.pathname.replace(/^\/en/, "") || "/";
  targetUrl = cleanPath + Astro.url.search + Astro.url.hash;
}
const newUrl = new URL("/api/data", Astro.url);
    console.log(newUrl.origin);
---
<a href={`${newUrl.origin}${targetUrl}`}>{targetLang}</a>
